[Unit]
Description=Nexus Network Random Node
After=network-online.target
Wants=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/nexus-wrapper.sh
Restart=always
RestartSec=5
KillMode=process

[Install]
WantedBy=multi-user.target
